<h3>
    <div class="border-l pl-4">
        <div class="mb-8">
            <a class="text-lg font-bold" target="_blank" href=<%= link %>><%= title %></a>
            <p class="text-sm font-semibold"><%= tech %></p>
            <div class="whitespace-pre-line"><%= description %></div>
        </div>
    </div>
</h3>